
:root {
  --main-bg: hsl(222, 26%, 31%);
  --toggle-keypad-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);

  --key-bg: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);

  --equal-key-bg: hsl(6, 63%, 50%);
  --equal-key-shadow: hsl(6, 70%, 34%);

  --action-key-bg: hsl(225, 21%, 49%);
  --action-key-shadow: hsl(224, 28%, 35%);

  --key-text-1: hsl(0, 0%, 100%);
  --key-text-2: hsl(221, 14%, 31%);
  --screen-header-text: hsl(0, 0%, 100%);

  /* Hover effects */
  --key-bg-hover: hsl(30, 25%, 83%);
  --key-shadow-hover: hsl(28, 16%, 60%);
  
  --equal-key-bg-hover: hsl(6, 63%, 55%);
  --equal-key-shadow-hover: hsl(6, 70%, 40%);
  
  --action-key-bg-hover: hsl(225, 21%, 54%);
  --action-key-shadow-hover: hsl(224, 28%, 40%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
[data-theme="theme-1"] {
  --main-bg: hsl(222, 26%, 31%);
  --toggle-keypad-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);

  --key-bg: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);

  --equal-key-bg: hsl(6, 63%, 50%);
  --equal-key-shadow: hsl(6, 70%, 34%);

  --action-key-bg: hsl(225, 21%, 49%);
  --action-key-shadow: hsl(224, 28%, 35%);

  --key-text-1: hsl(0, 0%, 100%);
  --key-text-2: hsl(221, 14%, 31%);
  --key-text-3: hsl(0, 0%, 100%);

  --screen-header-text: hsl(0, 0%, 100%);

  /* Hover effects */
  --key-bg-hover: hsl(30, 25%, 83%);
  --key-shadow-hover: hsl(28, 16%, 60%);
  
  --equal-key-bg-hover: hsl(6, 63%, 55%);
  --equal-key-shadow-hover: hsl(6, 70%, 40%);
  
  --action-key-bg-hover: hsl(225, 21%, 54%);
  --action-key-shadow-hover: hsl(224, 28%, 40%);
  
}

[data-theme="theme-2"] {
  --main-bg: hsl(0, 0%, 90%);
  --toggle-keypad-bg: hsl(0, 5%, 81%);
  --screen-bg: hsl(0, 0%, 93%);

  --key-bg: hsl(45, 7%, 89%);
  --key-shadow: hsl(35, 11%, 61%);

  --equal-key-bg: hsl(25, 98%, 40%);
  --equal-key-shadow: hsl(25, 99%, 27%);

  --action-key-bg: hsl(185, 42%, 37%);
  --action-key-shadow: hsl(185, 58%, 25%);

  --key-text-1: hsl(0, 0%, 100%);
  --key-text-2: hsl(60, 10%, 19%);
  --key-text-3: hsl(0, 0%, 100%);
  --screen-header-text: hsl(60, 10%, 19%);

  /* Hover effects */
  --key-bg-hover: hsl(45, 7%, 83%);
  --key-shadow-hover: hsl(35, 11%, 55%);
  
  --equal-key-bg-hover: hsl(25, 98%, 45%);
  --equal-key-shadow-hover: hsl(25, 99%, 32%);
  
  --action-key-bg-hover: hsl(185, 42%, 42%);
  --action-key-shadow-hover: hsl(185, 58%, 30%);
  
}

[data-theme="theme-3"] {


  --main-bg: hsl(268, 75%, 9%);
  --toggle-keypad-bg: hsl(268, 71%, 12%);
  --screen-bg: hsl(268, 71%, 12%);

  --key-bg: hsl(268, 47%, 21%);
  --key-shadow: hsl(290, 70%, 36%);

  --equal-key-bg: hsl(176, 100%, 44%);
  --equal-key-shadow: hsl(177, 92%, 70%);

  --action-key-bg: hsl(281, 89%, 26%);
  --action-key-shadow: hsl(285, 91%, 52%);



  --key-text-1: hsl(0, 0%, 100%);
  --key-text-2: hsl(52, 100%, 62%);
  --key-text-3: hsl(198, 20%, 13%);
  
  --screen-header-text: hsl(52, 100%, 62%);

  /* Hover effects */
  --key-bg-hover: hsl(268, 47%, 25%);
--key-shadow-hover: hsl(290, 70%, 40%);

--equal-key-bg-hover: hsl(176, 100%, 50%);
--equal-key-shadow-hover: hsl(177, 92%, 75%);

--action-key-bg-hover: hsl(281, 89%, 30%);
--action-key-shadow-hover: hsl(285, 91%, 55%);

}
